.main-container{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.products-container{
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 20px;
}
.card{
  border-radius: 10px;
  width: 270px;
  background-color: white;
  box-shadow: 0 7px 25px #0000001b;
  padding: 20px;
  border: solid 2px #8860d0;
}

.name-product{
  color: #8860d0;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 19px;
}
.image{
  width: 100%;
  margin-top: 10px;
}

.image img{
  width: 100%;
}

.description-product{
  color: #8860d0;
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px;
}

.new-product{
  position: fixed;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  bottom: 17px;
  right: 17px;
  font-size: 20px
}


