footer{
    background-color: #8860d0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.icons-social-media{
    display: flex;
    gap: 20px;
}

.icons-container{
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.icons-container img{
    height: 23px;
}

.line{
    flex-grow: 1;
    height: 20px;
    border-bottom: solid 1px white;
}
span{
    display: block;
    text-align: center;
    color: white;
}
.copy{
    font-size: 11px;
}
.name-web{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
}