<footer class="page-footer">
  <div class="icons-social-media">
    <div class="line"></div>
    <div class="icons-container">
      <img src="../../../assets/img/facebook.svg" alt="">
      <img src="../../../assets/img/tiktok.svg" alt="">
      <img src="../../../assets/img/telegram.svg" alt="">
      <img src="../../../assets/img/instagram.svg" alt="">
      <img src="../../../assets/img/twitter.svg" alt="">
    </div>
    <div class="line"></div>
  </div>
  <span class="name-web">Tu Mascota Feliz</span>
  <span class="copy">© 2022 Copyright Tu Mascota Feliz</span>
  <span class="">Información Legal | Política de privacidad</span>
</footer>
